<ng-container *transloco="let t">

    <div class="header-layout shadow">

        <div class="header-container header-container-desktop flex-row">
            <button pButton pRipple type="button" [label]="t('header.home')" (click)="navigateTo('start')" class="p-button-text"></button>
            <button pButton pRipple type="button" [label]="t('header.about')" (click)="navigateTo('about')" class="p-button-text"></button>
            <button pButton pRipple type="button" [label]="t('header.portfolio')" (click)="navigateTo('portfolio')" class="p-button-text"></button>
            <button pButton pRipple type="button" [label]="t('header.contact')" (click)="navigateTo('contact')" class="p-button-text"></button>
            <app-dark-mode-toggle></app-dark-mode-toggle>

            <div class="language-selector">
                <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" (onChange)="changeLanguage()">
                    <ng-template pTemplate="selectedItem">
                        <div class="language-item selected-item flex-row" *ngIf="selectedLanguage">
                            <img [src]="selectedLanguage.icon" />
                            <!-- <span> {{ t('header.language.' + selectedLanguage.name) }} </span> -->
                        </div>
                    </ng-template>
                    <ng-template let-language pTemplate="item">
                        <div class="language-item flex-row">
                            <img [src]="language.icon" />
                            <span> {{ t('header.language.' + language.name) }} </span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>

        <div class="header-container header-container-mobile flex-row">
            <button pButton pRipple type="button" icon="pi pi-bars" class="p-button-rounded p-button-outlined" (click)="toggleSidebar()"></button>
        </div>
        
    </div>

    <p-sidebar [(visible)]="isSidebarVisible" position="top" [modal]="false" [showCloseIcon]="false">
        <div class="buttons-container flex-column">
            <button pButton pRipple type="button" [label]="t('header.home')" (click)="navigateTo('start')" class="p-button-text"></button>
            <button pButton pRipple type="button" [label]="t('header.about')" (click)="navigateTo('about')" class="p-button-text"></button>
            <button pButton pRipple type="button" [label]="t('header.portfolio')" (click)="navigateTo('portfolio')" class="p-button-text"></button>
            <button pButton pRipple type="button" [label]="t('header.contact')" (click)="navigateTo('contact')" class="p-button-text"></button>
        </div>
    </p-sidebar>

</ng-container>