<div class="footer-layout flex-column" *transloco="let t">

    <p-divider></p-divider>

    <div class="links-container flex-row">
        <span> {{ t('footer.home') }} </span>
        <span> {{ t('footer.about') }} </span>
        <span> {{ t('footer.portfolio') }} </span>
        <span> {{ t('footer.contact') }} </span>
    </div>

    <div class="social-container flex-row">
        <em class="fab fa-instagram"></em>
        <em class="fab fa-github"></em>
        <em class="fab fa-linkedin"></em>
        <em class="far fa-envelope"></em>
    </div>
    
    <div class="thanks-container flex-row">
        <span> {{ t('footer.thanksFirst') }} </span>
        <em class="fas fa-heart"></em>
        <span> {{ t('footer.thanksSecond') }} </span>
        <span style="margin-left: 0.3rem;"> {{ t('footer.thanksThird') }} </span>

        <div class="tenerife-container flex-row">
            <span class="start"> Te </span>
            <span class="middle"> ner </span>
            <span class="end"> ife </span>
        </div>

        <span> {{ t('footer.thanksFourth') }} </span>
    </div>

</div>