@import '../../assets/scss/shared-styles.scss';

:host ::ng-deep .footer-layout {
    width: 100%;
    top: 0px;
    z-index: 2;
    padding: 0 1rem 2rem 1rem;

    p-divider {
        margin: 0 1rem;
    }

    .links-container, .social-container, .thanks-container {
        justify-content: center;
        align-items: center;
    }

    .links-container {
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 1rem;
        flex-wrap: wrap;

        span {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            margin: 1rem;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .social-container {
        font-size: xx-large;
        margin: 2rem 0;
        
        em {
            margin: 0 1rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .thanks-container {
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 1px;
        margin-top: 1rem;
        flex-wrap: wrap;

        em {
            margin: 0 0.3rem;
            color: $red;
        }

        .tenerife-container {
            margin-left: 0.3rem;
            margin-right: 0.3rem;
    
            .middle {
                color: $blue;
            }
    
            .end {
                color: $yellow;
            }
        }
    }
}