@import './settings/colors.scss';
@import './settings/fonts.scss';
@import './settings/custom.scss';
@import './custom-ui/sidebar.scss';
@import './custom-ui/buttons.scss';
@import './custom-ui/dropdowns.scss';
@import './custom-ui/scrollbar.scss';
@import './custom-ui/switch.scss';
@import './custom-ui/scrolltop.scss';