@import '../../../../assets/scss/settings/fonts.scss';

:host ::ng-deep .portfolio-layout {
    justify-content: start;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: calc(100vh - 60px);
    height: 100%;
    overflow: hidden;

    .handwritten-title-container {
        position: relative;
        
        span {
            font-family: $font-handwritten;
            font-size: 25px;
        }
    }

    .section-image-container {
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        min-height: 300px;
        background-image: url('../../../../assets/images/others/studies.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }
}