<div class="main-layout landing-layout flex-column" *transloco="let t">

    <div class="title-container flex-column">

        <div class="title flex-row">
            <h1> {{ t('home.landing.title') }} </h1>
            <img src="../../../../assets/images/others/profile.jpg" class="profile-img" />
        </div>
        
        <h1> {{ t('home.landing.subtitle') }} </h1>

        <app-type-delete [wordArray]="wordArray"></app-type-delete>

    </div>

    <div class="images-container flex-row">

        <div class="image"></div>
        <div class="image"></div>

    </div>

</div>