@import '../../../../assets/scss/settings/colors.scss';

.landing-layout {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0;

    .title-container {

        .title {
            justify-content: center;
            align-items: center;

            img {
                border-radius: 25px;
                height: 75px;
                margin-left: 2rem;
                width: 75px;
            }
        }
    }
}