@import '../../../../assets/scss/settings/colors.scss';

.landing-layout {
    justify-content: start;
    align-items: center;
    text-align: center;
    height: calc(100vh - 60px);

    .title-container {

        .title {
            justify-content: center;
            align-items: center;

            img {
                border-radius: 44% 56% 47% 53% / 57% 38% 62% 43%;
                height: 75px;
                margin-left: 2rem;
                width: 75px;
            }
        }
    }

    .images-container {
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        
        .image {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
        
        :first-child {
            background-image: url('../../../../assets/images/mockups/mockup_1.png');
            margin-right: 1rem;
        }
        
        :last-child {
            background-image: url('../../../../assets/images/mockups/mockup_2.png');
            margin-left: 1rem;
        }
    }
}