@import '../../assets/scss/shared-styles.scss';

.contact-layout {
    // margin-top: 68px;
    z-index: 0;
    background-color: thistle;
    height: 100%;
    overflow: auto;
    
    .contact-container {
        height: 2000px;
    }
}
