::ng-deep .p-button {
    
    &.p-button-text {
        box-shadow: none !important;
        color: unset;

        &:enabled:hover {
            background-color: transparent !important;
            color: $primary-color;
        }
    }
    
    &.custom-rounded-button {
        border-radius: 50px;
        background-color: $primary-color;
        border-color: $primary-color;
        
        &:hover {
            background-color: $primary-color !important;
            border-color: $primary-color !important;
        }
    }
}