::ng-deep .p-scrolltop {
    position: fixed !important;
    box-shadow: none !important;
    
    &.p-link {
        background-color: $orange;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
    }

    &:hover {
        
        &.p-link {
            box-shadow: 0 4px 8px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23) !important;
            background-color: $orange;
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

        .p-scrolltop-icon {
            color: $material-light;
        }
    }
}