<div #home class="home-layout flex-column">

     <section id="start">
          <app-landing></app-landing>
     </section>

     <section id="about">
          <app-about></app-about>
     </section>

     <section id="portfolio">
          <app-portfolio></app-portfolio>
     </section>

     <section id="contact">
          <app-contact></app-contact>
     </section>

     <section id="footer">
          <app-footer></app-footer>
     </section>

     <p-scrollTop target="parent"></p-scrollTop>

     <!-- <div appParallax [parallaxRatio]="0.4" [target]="home" class="parallax-item" style="top: calc(100vh + 100px); left: 10%;"></div>
     <div appParallax [parallaxRatio]="0.5" [target]="home" class="parallax-item" style="top: calc(100vh + 200px); left: 75%;"></div>
     <div appParallax [parallaxRatio]="0.6" [target]="home" class="parallax-item" style="top: calc(100vh + 400px); right: 25%;"></div>
     <div appParallax [parallaxRatio]="0.7" [target]="home" class="parallax-item" style="top: calc(100vh + 800px); left: 60%;"></div>
     <div appParallax [parallaxRatio]="0.8" [target]="home" class="parallax-item" style="top: calc(100vh + 1600px); left: 35%;"></div> -->

</div>