.home-layout {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0.3rem 0 0;
    width: 100%;

    section {
        max-width: 1920px;
        align-self: center;
        width: 100%;
    }

    .parallax-item {
        position: fixed;
        width: 75px;
        height: 75px;
        z-index: -1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        filter: opacity(0.1);
        // position: relative;
        // background-color: red;
    }

    .smartphone-mockup {
        position: fixed;
        width: 600px;
        height: 500px;
        top: 150vh;
        right: -150px;
        transform: rotate(338deg);
        z-index: -1;
        background-image: url('../../../assets/images/others/smartphone.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        // filter: opacity(0.1);
    }

    .parallax-img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

