<div #home class="home-layout flex-column">

     <section id="start">
          <app-landing></app-landing>
     </section>

     <section id="about">
          <img src="../../../../assets/images/others/smartphone.png" class="right-side-img">
          <app-about></app-about>
     </section>
     
     <section id="portfolio">
          <app-portfolio></app-portfolio>
     </section>
     
     <section id="contact">
          <img src="../../../../assets/images/others/earpods.png" class="left-side-img">
          <app-contact></app-contact>
     </section>

     <section id="footer">
          <app-footer></app-footer>
     </section>

     <p-scrollTop target="parent"></p-scrollTop>
     
</div>