@import '../../assets/scss/shared-styles.scss';

.portfolio-layout {
    // margin-top: 68px;
    z-index: 0;
    background-color: teal;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    
    .portfolio-container {
        height: 2000px;
    }
}
