.app-layout {
    height: 100%;
    position: relative;

    .main-header {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    
    .content {
        position: relative;
        height: 100%;
        z-index: 0;
        padding-top: 69px;
    }
}
