@import './assets/scss/shared-styles.scss';

html, body {
    height: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: $text-black;
    font-family: $font;
    font-size: 26px;
    overflow: hidden;
}

body.dark-mode {
    color: $text-white;
    background-color: $material-dark;
}

body.light-mode {
    color: $text-black;
    background-color: $material-light;
}

.p-component {
    font-family: $font !important;
}
