@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@import './assets/scss/shared-styles.scss';

html, body {
    height: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: $text-black;
    font-family: $font;
    font-size: 26px;
    overflow: hidden;
}

.p-component {
    font-family: $font !important;
    font-weight: bold !important; 
}
