@import './assets/scss/shared-styles.scss';
@import './assets/scss/themes/light.scss';
@import './assets/scss/themes/dark.scss';
@import './assets/scss/settings/queries.scss';

html, body {
    height: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: $text-black;
    font-family: $font;
    font-size: 25px;
    font-weight: 300;
    overflow: hidden;
}

.p-component {
    font-family: $font !important;
}