$pure-white : #FFFFFF;
$pure-black : #000000;
$hover: #00000030;

$text-black: #1D1D1F;
$text-white: #F5F5F7;

$material-dark: #303030;
$material-dark-medium: #1F1f1F;
$material-dark-high: #141414;
$material-light: #FAFAFA;

$orange: #FF6347;