@media only screen and (max-width: 1625px) {

    body {

        img.right-side-img {
            display: none;
        }

        img.left-side-img {
            display: none;
        }
    }
}

@media only screen and (max-width: 855px) {

    body {
        font-size: 20px !important;

        h1 {
            font-size: 60px !important;
        }

        .profile-img {
            height: 60px !important;
            margin-left: 1rem !important;
            width: 60px !important;
        }

        .images-container :last-child {
            display: none;
        }
    }
}

@media only screen and (max-width: 700px) {

    body {
        font-size: 18px !important;

        h1 {
            font-size: 50px !important;
        }

        .profile-img {
            height: 55px !important;
            margin-left: 1rem !important;
            width: 55px !important;
        }

        .images-container :first-child {
            display: none;
        }

        .main-layout {
            padding: 3rem 2rem 1rem calc(2rem + 17px);
        }
    }
}

@media only screen and (max-width: 475px) {

    body {

        img.arrow-desktop {
            display: none;
        }

        .main-layout {
            padding: 3rem 1rem 1rem calc(1rem + 17px);
        }
    }
}

@media only screen and (max-width: 375px) {

    body {
        font-size: 16px !important;

        h1 {
            font-size: 40px !important;
        }

        .profile-img {
            height: 50px !important;
            margin-left: 1rem !important;
            width: 50px !important;
        }
    }
}
