<div class="home-layout">

    <div class="home-container flex-column">

        <div class="title-container flex-column">
            
            <h1> ¡Hola! </h1>
            <div class="image-container flex-row">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEchGo5qMPYCA/profile-displayphoto-shrink_200_200/0/1516495469275?e=1624492800&v=beta&t=O5Hko7Vuqu1Mgf1lG4vW0uyW4BaxH_gEb3-rYC6x2so" />
            </div>
            <h1> Soy Juanmi González </h1>

            <app-type-delete [wordArray]="wordArray"></app-type-delete>

        </div>

    </div>

</div>