@import '../../assets/scss/shared-styles.scss';

.home-layout {
    // margin-top: 68px;
    z-index: 0;
    background-color: tomato;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .home-container {
        height: 2000px;
    }
}
