// @import '../../../../assets/scss/settings/colors.scss';
@import '../../../../assets/scss/settings/fonts.scss';

:host ::ng-deep .contact-layout {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 3rem 0 3rem 17px;

    .handwritten-title-container {
        position: relative;
        
        span {
            font-family: $font-handwritten;
            font-size: 25px;
        }
    }

    .button-container {
        margin-top: 3rem;
        position: relative;

        img.arrow-desktop {
            position: absolute;
            right: -70px;
            width: 55px;
            bottom: 15px;
        }

        img.arrow-mobile {
            position: absolute;
            top: -51px;
            right: -48px;
            width: 55px;
            transform: rotateX(180deg) rotate(300deg);
        }
    }
}