@import '../../../../assets/scss/settings/colors.scss';

.contact-layout {
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 2000px;
    // background-color: teal;
}