@import '../../../../assets/scss/settings/fonts.scss';

:host ::ng-deep .contact-layout {
    justify-content: start;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: calc(100vh - 60px);
    height: 100%;
    overflow: hidden;

    .handwritten-title-container {
        position: relative;
        
        span {
            font-family: $font-handwritten;
            font-size: 25px;
        }
    }

    .button-container {
        margin-top: 3rem;
        position: relative;

        img.arrow-desktop {
            position: absolute;
            right: -70px;
            width: 55px;
            bottom: 15px;
        }

        img.arrow-mobile {
            position: absolute;
            top: -51px;
            right: -48px;
            width: 55px;
            transform: rotateX(180deg) rotate(300deg);
        }
    }

    .section-image-container {
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        min-height: 300px;
        background-image: url('../../../../assets/images/others/contact.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }
}